<main class="container">
    <mat-card class="card-content">
      <img class="card-img" src="../../../../assets/exercicios/abdomen.png" />
      <button mat-raised-button class="button">Abdômen</button>
    </mat-card>
  
    <mat-card class="card-content">
      <img class="card-img" src="../../../../assets/exercicios/core.png" />
      <button mat-raised-button class="button">Core</button>
    </mat-card>
  
    <mat-card class="card-content">
      <img class="card-img" src="../../../../assets/exercicios/mobilidade.png" />
      <button mat-raised-button class="button">Mobilidade</button>
    </mat-card>
  
    <mat-card class="card-content">
      <img class="card-img" src="../../../../assets/exercicios/costas.png" />
      <button mat-raised-button class="button">Costas</button>
    </mat-card>
  
    <mat-card class="card-content">
      <img class="card-img" src="../../../../assets/exercicios/yoga.png" />
      <button mat-raised-button class="button">Yoga</button>
    </mat-card>
  
    <mat-card class="card-content">
      <img class="card-img" src="../../../../assets/exercicios/abdomen.png" />
      <button mat-raised-button class="button">Abdômen</button>
    </mat-card>
  
    <mat-card class="card-content">
      <img class="card-img" src="../../../../assets/exercicios/core.png" />
      <button mat-raised-button class="button">Core</button>
    </mat-card>
  
    <mat-card class="card-content">
      <img class="card-img" src="../../../../assets/exercicios/mobilidade.png" />
      <button mat-raised-button class="button">Mobilidade</button>
    </mat-card>
  
    <mat-card class="card-content">
      <img class="card-img" src="../../../../assets/exercicios/costas.png" />
      <button mat-raised-button class="button">Costas</button>
    </mat-card>
  </main>