<section class="valor-assinatura-content">
    <span class="valor-assinatura-text">R$ 00,00/mês</span>
</section>

<section class="info-pagamento">
    <article class="info-pagamento-assinatura">
        <span class="info-pagamento-text">Cartões que suportam transações de débito e de crédito poderão ser processados de ambas as formas.</span>
    </article>
    <article class="info-pagamento-assinatura">
        <span class="info-pagamento-text">Ao clicar no botão “Iniciar assinatura” abaixo, você concorda com nossos <a href="https://help.netflix.com/legal/termsofuse">Termos de Uso</a> e com nossa <a href="https://help.netflix.com/legal/privacy">Declaração de Privacidade</a>, confirma ter mais de 18 anos e aceita que a IouOne renove automaticamente sua assinatura e cobre o preço da assinatura (atualmente R$ 00,00/mês) da sua forma de pagamento até você cancelar. Você pode cancelar quando quiser para evitar cobranças futuras. Para cancelar, acesse a página “Conta” e clique em “Cancelar assinatura”.</span>
    </article>
</section>