

<main class="container">
    <a href="/auth/cadastro/dados">
        <p><i class="fa-regular fa-arrow-left"></i></p>
    </a>
    <p class="step-text">PASSO 3 DE 4</p>
    <h1 class="welcome-text">Agora, um pouco mais sobre você</h1>
    <p class="instruction-text-text">Queremos conhecer seus objetivos e necessidades para oferecer a melhor jornada de
        emagrecimento possível.</p>

    <form class="signup-form">  
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Informe seu peso ideal em quilogramas</mat-label>
            <input matInput placeholder="Informe seu peso ideal em quilogramas">
            <div class="suffix-container">
              <span class="divider"></span>
              <span matSuffix>kg</span>
            </div>

        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Informe seu nível de atividade física</mat-label>
            <mat-select>
                <mat-option value="Nenhum">Nenhum</mat-option>
                <mat-option value="Baixo">Baixo</mat-option>
                <mat-option value="Moderado">Moderado</mat-option>
                <mat-option value="Frequente">Frequente</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Informe sua altura em centímetros</mat-label>
            <input matInput placeholder="Informe sua altura em centímetros" type="text">
            <div class="suffix-container-cm">
                <span class="divider"></span>
                <span matSuffix>cm</span>
              </div>
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Informe seu peso em quilogramas</mat-label>
            <input matInput placeholder="Informe seu peso em quilogramas" type="text">
            <div class="suffix-container">
                <span class="divider"></span>
                <span matSuffix>kg</span>
              </div>
        </mat-form-field>

        <app-enter-button [textButton]="textButton" [redireciona]="redireciona"></app-enter-button>
    </form>
</main>