<app-navbar-cadastro></app-navbar-cadastro>

<main class="container">
    <a href="/login">
        <p><i class="fa-regular fa-arrow-left"></i></p>
    </a>
    <p class="step-text">PASSO 4 DE 4</p>
    <h1 class="welcome-text">Escolha como você quer pagar</h1>
    <p class="instruction-text">Sua forma de pagamento está criptografada e você pode mudá-la quando quiser.</p>

    <div class="evidence">
        <p class="instruction-text">Segurança e tranquilidade.</p>
        <p class="instruction-text">Cancele online com facilidade.</p>
    </div>

    <div class="buttons">
        <app-cartao></app-cartao>
        <app-pix></app-pix>
    </div>
</main>