<main class="container">
  <mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" src="../../../../assets/treino/leg-press.png" />
      <mat-card-content class="card-text">
        <h1 class="card-title">Lorem Ipsum</h1>
        <p class="text-card">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-card-actions align="end">
          <mat-card-footer>
            <a class="text-footer">Ver Treino</a>
          </mat-card-footer>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" src="../../../../assets/treino/agachamento.png" />
      <mat-card-content class="card-text">
        <h1 class="card-title">Lorem Ipsum</h1>
        <p class="text-card">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-card-actions align="end">
          <mat-card-footer>
            <a class="text-footer">Ver Treino</a>
          </mat-card-footer>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" src="../../../../assets/treino/rosca.png" />
      <mat-card-content class="card-text">
        <h1 class="card-title">Lorem Ipsum</h1>
        <p class="text-card">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-card-actions align="end">
          <mat-card-footer>
            <a class="text-footer">Ver Treino</a>
          </mat-card-footer>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" src="../../../../assets/treino/leg-press.png" />
      <mat-card-content class="card-text">
        <h1 class="card-title">Lorem Ipsum</h1>
        <p class="text-card">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-card-actions align="end">
          <mat-card-footer>
            <a class="text-footer">Ver Treino</a>
          </mat-card-footer>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" src="../../../../assets/treino/agachamento.png" />
      <mat-card-content class="card-text">
        <h1 class="card-title">Lorem Ipsum</h1>
        <p class="text-card">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-card-actions align="end">
          <mat-card-footer>
            <a class="text-footer">Ver Treino</a>
          </mat-card-footer>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" src="../../../../assets/treino/rosca.png" />
      <mat-card-content class="card-text">
        <h1 class="card-title">Lorem Ipsum</h1>
        <p class="text-card">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-card-actions align="end">
          <mat-card-footer>
            <a class="text-footer">Ver Treino</a>
          </mat-card-footer>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
  <mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" src="../../../../assets/treino/leg-press.png" />
      <mat-card-content class="card-text">
        <h1 class="card-title">Lorem Ipsum</h1>
        <p class="text-card">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-card-actions align="end">
          <mat-card-footer>
            <a class="text-footer">Ver Treino</a>
          </mat-card-footer>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" src="../../../../assets/treino/agachamento.png" />
      <mat-card-content class="card-text">
        <h1 class="card-title">Lorem Ipsum</h1>
        <p class="text-card">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-card-actions align="end">
          <mat-card-footer>
            <a class="text-footer">Ver Treino</a>
          </mat-card-footer>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>

  <mat-card>
    <mat-card-header class="card-content">
      <img class="card-img" src="../../../../assets/treino/rosca.png" />
      <mat-card-content class="card-text">
        <h1 class="card-title">Lorem Ipsum</h1>
        <p class="text-card">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <mat-card-actions align="end">
          <mat-card-footer>
            <a class="text-footer">Ver Treino</a>
          </mat-card-footer>
        </mat-card-actions>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
</main>
