.container {
    display: grid;
    grid-template-columns: 285px 285px 285px;
    grid-template-rows: 300px 300px 300px;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
  
  mat-card {
    background-color: rgba(89, 89, 89, 1);
    border-radius: 15px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  .card-title {
    font-size: 16px;
    font-weight: 700;
    padding-top: 1rem;
    color: var(--Branco);
  }
  
  .text-card {
    font-size: 12px;
    font-weight: 400;
    padding-top: 0.5rem;
    color: var(--Branco);
  }
  
  .text-footer {
    font-size: 10px;
    font-weight: 400;
    color: var(--Branco);
    text-decoration: underline;
  }
  
  @media (max-width: 1400px) {
    .container {
      grid-template-columns: 260px 260px;
    }
  }
  
  @media (max-width: 578px) {
    .container {
      grid-template-columns: 285px;
    }
  }