.mat-mdc-raised-button:not(:disabled) {
    color: var(--Branco);
    background-color: var(--Rosa-pink)
}

.login-button {
    width: 100%;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
}