

    <div class="header">
        <h1 class="title">Mais vistos</h1>
        <a class="show-all">Mostrar tudo</a>
    </div>
    
    <div class="container">
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
    </div>
    
    <div class="header">
        <h1 class="title">Funk</h1>
        <a class="show-all">Mostrar tudo</a>
    </div>
    
    <div class="container">
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
    </div>
    
    <div class="header">
        <h1 class="title">Axé</h1>
        <a class="show-all">Mostrar tudo</a>
    </div>
    
    <div class="container">
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
        <mat-card class="card">
            <mat-card-header class="card-content">
                <img class="card-img" src="../../../../assets/fit/fit-dance.png" />
                <mat-card-content class="card-text">
                    <h1 class="card-title">Nome da música</h1>
                    <p class="text-card">
                        Autor, Autor, Autor, Autor, Autor, Autor, Autor e mais
                    </p>
                </mat-card-content>
            </mat-card-header>
        </mat-card>
    </div>
