<mat-sidenav-container class="container">
  <mat-sidenav
    class="sidenav"
    mode="side"
    opened
    fixedInViewport="true"
    fixedTopGap="90"
  >
    <mat-nav-list class="nav-list">
      <a
        class="item-list"
        routerLink="/nutricionista"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/nutricionista.png"
          alt="Área Nutricionista"
        />
        <span class="text-list">Área Nutricionista</span>
      </a>
      <a
        class="item-list"
        routerLink="/dietas"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/dietas-atualizadas.png"
          alt="Dietas atualizadas todo mês"
        />
        <span class="text-list">Dietas atualizadas todo mês</span>
      </a>
      <a
        class="item-list"
        routerLink="/treino"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/treino-atualizado.png"
          alt="Treino atuliazado todo mês"
        />
        <span class="text-list">Treino atuliazado todo mês</span>
      </a>
      <a class="item-list"
      routerLink="/exercicios"
      mat-list-item routerLinkActive="active-link">
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/exercicios-emagreca.png"
          alt="Exercícios emagreça em casa"
        />
        <span class="text-list">Exercícios emagreça em casa</span>
      </a>
      <a class="item-list"
      routerLink="/fitdance"      
      mat-list-item routerLinkActive="active-link">
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/fit-dance.png"
          alt="Fit dance"
        />
        <span class="text-list">Fit dance</span>
      </a>
      <a class="item-list" 
      routerLink="/desinchar"
      mat-list-item routerLinkActive="active-link">
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/chas-desinchar.png"
          alt="Chás para desinchar"
        />
        <span class="text-list">Chás para desinchar</span>
      </a>
      <a class="item-list"
      routerLink="/cardapio"
      mat-list-item routerLinkActive="active-link">
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/cardapio-da-semana.png"
          alt="Cardápio da semana low carb"
        />
        <span class="text-list">Cardápio da semana low carb</span>
      </a>
      <a class="item-list" 
      routerLink="/calculadora"
      mat-list-item routerLinkActive="active-link">
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/calculadora.png"
          alt="Calculadora TDEE"
        />
        <span class="text-list">Calculadora TDEE</span>
      </a>
      <a class="item-list" 
      routerLink="/perder-gordura"
      mat-list-item routerLinkActive="active-link">
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/chas-perder-gordura.png"
          alt="Chás para perder gordura"
        />
        <span class="text-list">Chás para perder gordura</span>
      </a>
      <a class="item-list" 
      routerLink="/marmita"
      mat-list-item routerLinkActive="active-link">
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/marmita-fit.png"
          alt="Marmita fit congelada"
        />
        <span class="text-list">Marmita fit congelada</span>
      </a>
      <a class="item-list" 
      routerLink="/detox"
      mat-list-item routerLinkActive="active-link">
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/detox.png"
          alt="Receita detox"
        />
        <span class="text-list">Receita detox</span>
      </a>
    </mat-nav-list>

    <img class="line" src="../../../assets/sidebar/line.png" alt="" />

    <mat-nav-list>
      <a class="last-item">
        <img
          src="../../../assets/sidebar/projeto-30-dias.png"
          alt="Projeto 30 dias"
        />
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
