<button
  *ngIf="isMobile"
  mat-icon-button
  class="menu-button"
  aria-label="Menu icon"
  (click)="toggleMenu()"
>
  <mat-icon class="material-symbols-outlined">menu</mat-icon>
</button>

<mat-sidenav-container autosize class="container">
  <mat-sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'"
    class="sidenav"
    fixedInViewport="true"
    fixedTopGap="90"
  >
    <mat-nav-list class="nav-list" *ngIf="isCollapsed">
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/home"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/nutricionista.png"
          alt="Área Nutricionista"
        />
        <span class="text-list">Área Nutricionista</span>
      </a>
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/dietas"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/dietas-atualizadas.png"
          alt="Dietas atualizadas todo mês"
        />
        <span class="text-list">Dietas atualizadas todo mês</span>
      </a>
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/treino"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/treino-atualizado.png"
          alt="Treino atuliazado todo mês"
        />
        <span class="text-list">Treino atuliazado todo mês</span>
      </a>
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/exercicios"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/exercicios-emagreca.png"
          alt="Exercícios emagreça em casa"
        />
        <span class="text-list">Exercícios emagreça em casa</span>
      </a>
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/fitdance"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/fit-dance.png"
          alt="Fit dance"
        />
        <span class="text-list">Fit dance</span>
      </a>
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/chas"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/chas.png"
          alt="Chás"
        />
        <span class="text-list">Chás</span>
      </a>
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/cardapio"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/cardapio-da-semana.png"
          alt="Cardápio da semana low carb"
        />
        <span class="text-list">Cardápio da semana low carb</span>
      </a>
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/calculadora"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/calculadora.png"
          alt="Calculadora TDEE"
        />
        <span class="text-list">Calculadora TDEE</span>
      </a>
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/marmita"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/marmita-fit.png"
          alt="Marmita fit congelada"
        />
        <span class="text-list">Marmita fit congelada</span>
      </a>
      <a
        (click)="closeSidebar()"
        class="item-list"
        routerLink="/admin/detox"
        mat-list-item
        routerLinkActive="active-link"
      >
        <img
          matListItemIcon
          class="img-list"
          src="../../../assets/sidebar/detox.png"
          alt="Receita detox"
        />
        <span class="text-list">Receita detox</span>
      </a>

      <img class="line" src="../../../assets/sidebar/line.png" alt="" />

      <mat-nav-list>
        <a
          (click)="closeSidebar()"
          class="item-list"
          routerLink="/admin/projeto"
          mat-list-item
          routerLinkActive="active-link"
          id="projeto"
        >
          <img
            matListItemIcon
            class="img-list"
            src="../../../assets/sidebar/detox.png"
            src="../../../assets/sidebar/projeto-30-dias.png"
            alt="Projeto 30 dias"
          />
          <span class="text-list">Projeto 30 dias</span>
        </a>
      </mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
