.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.step-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.welcome-text {
    font-size: 24px;
    margin-bottom: 0px;
}

.easy-signup {
    font-size: 18px;
    margin-bottom: 10px;
}

.instruction-text {
    font-size: 16px;
    margin-bottom: 0px;
}

.instruction-text-text {
    font-size: 16px;
    margin-bottom: 30px;
}

.signup-form {
    width: 100%;
}

.form-field {
    width: 100%;
}

.form-field-half {
    width: 48%;
    flex: 1;
    margin-right: 10px;
}

mat-form-field {
    width: 100%;
}
.separador {
    display: flex;
    justify-content: space-between;
    /* Distribui o espaço entre os elementos */
}

.form-field-half:last-child {
    margin-right: 0;
    /* Remove o espaço à direita do último campo */
}

@media (max-width: 500px) {
    .container {
        padding: 10px;
    }

    .step-text,
    .welcome-text,
    .easy-signup,
    .instruction-text {
        text-align: center;
    }
}