::ng-deep body {
    background-color: var(--Rosa-claro);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura mínima da tela inteira */
}

.card-login-container {
    max-height: 95vh;
    margin: auto;
    max-width: 500px;
    width: 100%; /* Largura completa */
    padding: 20px;
    background-color: var(--Branco);
    border: 1px solid var(--Cinza-claro);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Ajuste para telas menores que 500px */
@media (max-width: 500px) {
    .card-login-container {
        width: 100%; /* Ocupa 100% da largura */
        margin: 10px;
        padding: 10px; /* Adiciona margem para evitar tocar as bordas da tela */
    }
}

.card-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.logo-image {
    max-width: 200px;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
}

.card-subtitle {
    font-size: 16px;
    font-weight: 600;
}

.full-width-input {
    width: 100%;
}

.actions-content {
    margin-bottom: 10px;
}

.lembrar-checkbox {
    margin-right: auto;
}

.mat-accent {
    --mat-option-selected-state-label-text-color: #057CFF;
}

::ng-deep .lembrar-checkbox .mat-checkbox-checked .mat-checkbox-background {
    background-color: #3f51b5; /* Cor quando está marcado (true) */
}

.forgot-password-button {
    margin-left: auto;
}

.mat-mdc-button:not(:disabled) {
    color: var(--Rosa-pink);
}

.register-button {
    margin: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-button-button {
    padding-left: 5px;
    color: var(--Rosa-pink);
}