<app-navbar-cadastro></app-navbar-cadastro>

<main class="container">
    <div class="mainContent">
        <a href="/cadastro/pagamento">
            <p><i class="fa-regular fa-arrow-left"></i></p>
        </a>
        <p class="step-text">PASSO 4 DE 4</p>
        <h1 class="welcome-text">Informe os dados do seu cartão de crédito ou débito</h1>
        <span class="logos logos-block" data-uia="cardLogos-comp" aria-label="We accept Visa, Mastercard, American Express, Elo and Hipercard.">
            <img *ngFor="let logo of cardLogos" [src]="logo" alt="Card logo" class="logoIcon" />
        </span>
    </div>

    <app-formulario-cartao></app-formulario-cartao>

</main>